{% include "partials/tool_aliases.j2" %}

{% if skills %}
{% include "partials/skills.j2" %}
{% endif %}
{% include "partials/project_rules.j2" %}
{% include "partials/plan_mode.j2" %}
Your current environment (working directory, shell, git, date) is provided in the <env> block at the start of each user message. Treat it as context, not as a query.